<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Detalle de producto" }) %>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
      <!-- main -->
      <main class="main-container">
        <div class="product">          
          <div class="prod-image">
            <img src="/images/products/<%= product.image %>" alt="main img">
          </div>
          
          <section class="prod-detail">
            <div class="product-rate">
              <h2><%= product.name%></h2>
              <label>Reseña del producto</label>
              <h3>★★★★★</h3>

                <% if(typeof product !="undefined" ) { %>
                
                <div class="description">
                  <h2>$<%= product.price%></h2>
                  <p><%= product.description %></p>

                  <div class="category">
                    <h4>referencia: <%= product.reference %></h4>                  
                  </div>
                </div>
                <% } else {%>
                  <p>El producto no existe</p>
                <% } %>    

                <div class="number">
                  <label for="quantity">Cantidad:</label>
                  <input type="number" value = "1" id="quantity">
                </div>  
                <div class="submit">
                  <button class="button-add" data-id = "<%= product.product_id %>" data-name="<%= product.name %>" data-price="<%= product.price %>">Agregar al carrito</button>
                </div>
            </div>
          </section>
        </div>
      </main>
      <%- include('../partials/footer') %>
        </div>
        <div id="modal-menu" class="modal">
          <a class="close" href="#">X</a>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Tienda</a></li>
          <li><a class="red" href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        </div>

        <script>
      
          const addToCartButtons = document.querySelectorAll('.button-add');
    
          addToCartButtons.forEach(button => {
            button.addEventListener('click', (event) => {
              event.preventDefault();
            
              const quantity = parseInt(document.querySelector('#quantity').value);  
              // Obtener la información del producto del botón que se presionó
              const product = {
                id: parseInt(event.target.getAttribute('data-id')),
                name: event.target.getAttribute('data-name'),
                price: parseFloat(event.target.getAttribute('data-price')),
                quantity: quantity
              };
              
              // Agregar el producto al carrito
              addToCart(product);
            });
          });
    
          let cart = JSON.parse(localStorage.getItem('cart')) || [];
    
          function addToCart(product) {
            // Verificar si el producto ya está en el carrito
            const existingProductIndex = cart.findIndex(p => p.id === product.id);
            if (existingProductIndex !== -1) {
              // Si el producto ya está en el carrito, aumentar la cantidad
              cart[existingProductIndex].quantity++;
            } else {
              // Si el producto no está en el carrito, agregarlo
              cart.push(product);
            }
            
            // Guardar el carrito en LocalStorage
            localStorage.setItem('cart', JSON.stringify(cart));

            updateCartCount();
          }
        </script>
  </body>

</html>