<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Editar / Crear producto" }) %>
  </head>
  <%- include('../partials/header') %>
    <body>
      <div class="container-btn-new">
        <a class="btnNew" href="/users/register">
          <input type="button" value="Agregar Usuario">
        </a>
      <div class="container-edit-products">
        <table class="tableProducts">
          <thead class="head-editProduct">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>USUARIO</th>
              <th>TIPO DE IDENTIFICACIÓN</th>
              <th>NUMERO DE IDENTIFICACIÓN</th>
              <th>DIRECCIÓN</th>
              <th>CELULAR</th>
              <th>EMAIL</th>
              <th>ROL</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < users.length; i++) {%>
            <form method="POST" action="/users/delete/<%= users[i].user_id %>?_method=DELETE">
              <tr>
                <td data-label="ID">
                  <%= users[i].user_id %>
                </td>
                <td data-label="NOMBRE">
                  <%= users[i].name %>
                </td>
                <td data-label="USUARIO">
                  <%= users[i].user_name %>
                </td>
                <td data-label="TIPO DE IDENTIFICACIÓN">
                  <%= users[i].identification_type %>
                </td>
                <td data-label="NUMERO DE IDENTIFICACIÓN">
                  <%= users[i].identification %>
                </td>
                <td data-label="DIRECCIÓN">
                  <%= users[i].address %>
                </td>
                <td data-label="CELULAR">
                  <%= users[i].phone %>
                </td>
                <td data-label="EMAIL">
                  <%= users[i].email %>
                </td>
                <td data-label="ROL">
                  <% roles.forEach(rol => { %>
                    <% if (users[i].rol_id == rol.rol_id) { %><%= rol.name %><% }; %>
                  <% }); %>
                  
                <!--<td data-label="IMAGEN">imagen1</td> -->
                <td data-label="ACCIONES">
                  <div class="btnEdit">
                    <a href="/users/editUser/<%= users[i].user_id %>">
                      <i class="fa-solid fa-pencil"></i>
                    </a>
                  </div>
                  <button type="submit" class="btnDelete" onclick="confirm('¿Está seguro que desea eliminar el usuario?')">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </form>
              <% } %>
          </tbody>
        </table>
      </div>
      <%- include('../partials/footer') %>
    </body>

</html>