<!DOCTYPE html>
<html lang=>
  <%- include('../partials/head', {webtitle: "Iniciar sesi칩n"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
      <div class="register">
        
        <div class="card-register">
            <section>
                <div class="logo-login">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="log-text">
                    <p>Tu cuenta ha sido bloqueada debido a demasiados intentos fallidos de inicio de sesi칩n.</p>
                    <p>Para desbloquear tu cuenta, por favor ingresa tu correo y te enviaremos un enlace.</p>
                </div>
                <% console.log("Token antes de pasarlo al formulario:", token) %>
                <form action="/users/reset" method="POST" class="login-form">
                    <input type="hidden" name="token" value="<%= token %>">
                    <div class="register-log-password">
                      <i class="fa-solid fa-lock"></i>
                      <input type="password" name="password" id="password" placeholder="Nueva Contrase침a">
                    </div>
                    <% if (locals.errors && errors.password) { %>
                      <div class="text-danger">
                        <%= errors.password.msg %>
                      </div>
                    <% } %>
                    <button type="submit">Restablecer contrase침a</button>
                </form>
            </section>
        </div>
        <a href="/users/login"> <p class="back-login"><u>Ir a login</u></p></a>               
    </main>
  <%- include('../partials/footer') %>
</body>
</html>